.card {
  background-color: #333;
  color: #fff;
  border-radius: 4px;
  padding: 16px;
  margin: 12px;
  max-width: 700px;
  width: calc(95% - 16px);
}

.card-header {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.card-header > img {
  object-fit: contain;
}

.profile-icon {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 8px;
}

.user-name {
  font-weight: bold;
}

.card-body {
  font-size: 14px;
}

.card-item-header{
  background: -webkit-linear-gradient(90deg, hsl(54, 98%, 58%), hsl(344, 98%, 68%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.card-item-detail{
    border-radius: 12px;
    padding: 2px 8px;
    border: 1px solid #222;
    background-color: #4444448a;
}
.cardinfofield-label{
  font-size: 16px;
  width: inherit;
  color: #fff56a;
  font-stretch: expanded;
}
.cardinfofield-value{
  margin: 0;
  font-size: 20px;
  translate: 0px -20px;
  font-stretch: semi-expanded;
}