.business-page{
    background: #111;
    color: #fff;
    min-height: 100vh;
}
.cover-container{
    box-shadow:  rgba(30,30,30,0.6) 0px 10px 10px;
}
.cover-container > img{
    object-fit: cover;
    height: 30vh;
    width: 100vw;
}
.profile{
    /* position: absolute; */
    transform: translateY(-80px);
}
.profile>img{
    border: 10px solid #333;
    border-radius: 50%;
    width: 180px;
    height: 180px;
    box-shadow: #777 0px 2px 5px;
    /*transform: translateY(-60px);*/
}
.main-container {
    width: 100vw;
    display: flex;
}

.left-container {
    /* border: 1px solid; */
    width: 30%;
}

.right-container {
    /* border: 1px solid red; */
    width: 70%;
}
.tabs{
    text-align: left;
    margin-top: 20px;
}
.tabs>ul{
    margin: 0;
}
.tabs>ul>li{
    margin: 0;
    border: 1px solid #111;
    background-color: #333;
    border-radius: 0 15px 0 0;
    display: inline-block;
    padding: 4px 10px;
}
.tabs>ul>li:hover{
    background-color: #FDE82C;
    color: #111;
}
.active-tab{
    border-bottom: none;
    color: #FDE82C;
    opacity: 1;
}
.inactive-tab{
    opacity: 0.5;
    border: 1px solid #111;
}
.selected-window-container{
    background-color: #333;
    max-width: 90%;
    min-height: 50vh;
    max-height: auto;
    padding-bottom: 10px;
}

.about-desc{
    width: 80%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 22px;
}

.contact-links {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
  }
  
  .link {
    color: #fff;
    font-size: 1.2rem;
    margin: 0 1rem;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
  }
  
  .link:hover {
    color: #b3b3b3;
  }
  
  .instagram {
    color: #8a3ab9;
  }
  
  .facebook {
    color: #3b5998;
  }
  
  .twitter {
    color: #00a884;
  }
  