.modal-styles{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 50px;
    z-index: 1000;
    background-color: black;
    color: #fff;
}
.overlay-styles{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1000;
}

.newPost-form{
    padding: 50px;
    width: 700px;
}
.fields{
    max-width: inherit;
    min-width: 600px;
}
.input-field{
    min-width: 500px;
    max-width: inherit;
}
.input-field>input,  .input-field>select{
    min-width: 300px;
    padding: 2px 10px;
}