/*00c9b7*/

.header{
    height: 58px;
}
.logo{
    background: -webkit-linear-gradient(0deg ,#FDE82C, #FD2C63);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 1.5em;
    font-size: 24px;
    font-weight: 800;
    height: 40px;
    margin: auto;
}
.logo-img{
    object-fit: contain;
    width: 40px;
    height: 35px;
    margin-right: 10px;
}
ul{
    margin: 0;
}
li{
    list-style: none;
    display: inline-block;
    margin: 0 10px;
    color: #fff;
}
li>a{
    text-decoration: none;
    color: inherit;
}
li>a:hover{
    color: #FDE82C;
}