.footer-bg{
    background-image:
    linear-gradient(to bottom, rgba(0, 0, 0, 0.82), rgb(3, 3, 0)),
    url('https://www.wfp.org/sites/default/files/images/ending-hunger-hero.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    padding: 20px;
}
@media (max-width:650px){
    .footer-nav-items{
        margin: 0;
        position: static;
    }
    .footer-nav-items li{
        display: inline-block;
    }
}