.portal-page{
    width: 100vw;
    display: flex;
    justify-content: center;
    background-color: #222;
    min-height: 100vh;
}

.sidebar-container{
    position: absolute;
}
.selected-window-container{
    width: inherit;
    background-color: transparent;
}

