.signin-page {
  height: 100vh;
}

.form-container {
  display: flex;
  height: calc(100vh - 58px);
}
.sign-in-text {
  padding: 0 40px;
  font-size: 4em;
  width: 45vw;
}
.signin-form {
  background-color: #000;
  width: 70%;
}

.input-field label {
  color: #fff388;
}
.input-field > input {
  background-color: #333;
  border: none;
  padding: 20px;
  color: #fde82c;
  border-radius: 8px;
}
.fields {
  width: 70%;
}
