.HDIW-sec{
    background-color: #111;
    color: #fff;
    padding: 50px;
}
.HDIW-pre{
    padding: 20px;
    margin: 20px 10px;
    width: 650px;
}
.HDIW-pre>p{
    padding-right: 25px;
}
.HDIW-heading{
    margin: 40px 0px;
    background: -webkit-linear-gradient(#FDE82C, #FD2C63);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.HDIW-block{
    padding: 25px;
    border: 1px solid #666;
    margin: 20px 10px;
    width: 550px;
    border-radius: 8px;
    background-color: rgba(50, 50, 50, 0.1);
}
.HDIW-text{
    width: 350px;
}
.HDIW-imgs{
    width: 90px;
    height: 90px;
}